.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
}
.form {
  height: 100%;
  width: 70%;
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px 30px 30px;
}
.header {
  margin: 30px;
}
.tasks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  background-color: #B0E0E6;
  width: 100%;
  padding: 10px;
}
.readyTasks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  /* background-color: green; */
  width: 100%;
  padding: 10px;
}
.text {
  width: 400px;
}
.checkbox {
  margin: 30px;
}